# Ignore files

test_get_count.py
.vscode
__pycache__
file.json
test_params_create
main_delete.py
versions/web_static_20200407131129.tgz
versions/web_static_20200407184415.tgz
main.py
file.json
*~
**/*~
**/\#*
test_save_reload_user.py
test_save_reload_base_model.py
web_static/w3c_validator.py

# End